@model IEnumerable<BiblioMit.Models.Entry>

@{
    ViewData["Title"] = "Boletín";
}

<partial name="_LibsPg" model='new HashSet<string> { "bootstrap-select" }' />

@section NavBar{
    <nav class="navbar navbar-dark secondary-nav d-block d-lg-none" style="background-color:#012169;">
        <button class="navbar-toggler collapsed" type="button"
                data-toggle="collapse" data-target="#navbarsExample01"
                aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-brand btn" role="button">@Localizer["Digest"]</button>
        @*<div class="navbar-collapse collapse row" id="navbarsExample02">
                <h1 class="display-4">@Localizer["Source:"]</h1>
                <h1 class="display-4">@Localizer["Data"]:</h1>
                <hr />
            </div>*@
        <div class="navbar-collapse collapse row" id="navbarsExample01">
            <ul class="navbar-nav ml-auto col-6" style="vertical-align:top;">
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn" role="button"
                            id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-database fa-tw"></i>&nbsp;@Localizer["Data"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        @*<button onclick="$('#dates').trigger('click');" class="dropdown-item btn" role="button">@Localizer["Dates"]</a>*@
                        <button onclick="$('#provinces').trigger('click');" class="dropdown-item btn" role="button" data-toggle="collapse" data-target="#navbarsExample01"><i class="fas fa-chart-pie fa-tw"></i>&nbsp;@Localizer["Provinces"]</button>
                        <button onclick="$('#comunes').trigger('click');" class="dropdown-item btn" role="button" data-toggle="collapse" data-target="#navbarsExample01"><i class="far fa-chart-bar fa-tw"></i>&nbsp;@Localizer["Communes"]</button>
                        <button onclick="$('#months').trigger('click');" class="dropdown-item" role="button" data-toggle="collapse" data-target="#navbarsExample01"><i class="fas fa-chart-line fa-tw"></i>&nbsp;@Localizer["Months"]</button>
                        <button onclick="$('#table').trigger('click');" class="dropdown-item" role="button" data-toggle="collapse" data-target="#navbarsExample01"><i class="fas fa-table fa-tw"></i>&nbsp;@Localizer["Table"]</button>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" role="button"
                            onclick="$('#dates').trigger('click');">
                        <i class="fas fa-calendar-check fa-tw"></i>&nbsp;@Localizer["Dates"]
                    </button>
                </li>
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn" role="button"
                            id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-arrow-down fa-tw"></i>&nbsp;@Localizer["Downloads"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" id="downloadModal" data-toggle="modal" asp-action="Download"
                           data-target="#modal-action">
                            <i class="fas fa-file-pdf fa-tw"></i>&nbsp;@Localizer["Digest"]
                        </a>
                        <button class="dropdown-item btn" role="button" onclick="exportExcel();" data-toggle="collapse"
                                data-target="#navbarsExample01">
                            <i class="fas fa-file-excel fa-tw"></i>&nbsp;@Localizer["Data"]
                        </button>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto col-6" style="vertical-align:top; text-align:right;">
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle btn" role="button"
                            id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-map fa-tw"></i>&nbsp;@Localizer["Farm Production"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <button class="dropdown-item btn" onclick="$('#seeds').trigger('click');" role="button"
                                data-toggle="collapse" data-target="#navbarsExample01">
                            @Localizer["Seeds"]
                            </button>
                            <button class="dropdown-item btn" onclick="$('#harvest').trigger('click');" role="button"
                                    data-toggle="collapse" data-target="#navbarsExample01">
                                @Localizer["Harvest"]
                                </button>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle btn" role="button"
                                    id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-map fa-tw"></i>&nbsp;@Localizer["Plant Production"]
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <button class="dropdown-item btn" onclick="$('#supply').trigger('click');" role="button"
                                        data-toggle="collapse" data-target="#navbarsExample01">
                                    @Localizer["Supply"]
                                    </button>
                                    <button class="dropdown-item btn" onclick="$('#production').trigger('click');" role="button"
                                            data-toggle="collapse" data-target="#navbarsExample01">
                                        @Localizer["Production"]
                                        </button>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <button class="nav-link dropdown-toggle btn" role="button"
                                            id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-map fa-tw"></i>&nbsp;@Localizer["Environmental"]
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <button class="dropdown-item btn" onclick="$('#temperature').trigger('click');" role="button"
                                                data-toggle="collapse" data-target="#navbarsExample01">
                                            <i class="fas fa-thermometer-quarter fa-tw"></i>&nbsp;@Localizer["Temperature"]
                                        </button>
                                        <button class="dropdown-item btn" onclick="$('#salinity').trigger('click');" role="button"
                                                data-toggle="collapse" data-target="#navbarsExample01">
                                            <i class="fas fa-vial fa-tw"></i>&nbsp;@Localizer["Salinity"]
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
}

<div class="container-fluid">
    <div class="row justify-content-end" id="datos-panel">
        <div class="col-10 p-0">
            <div class="row">
                <div id="centres" class="col text-center category border-bottom m-2">@Localizer["Farms"]</div>
                <div id="plants" class="col text-center category border-bottom m-2">@Localizer["Plants"]</div>
                <div id="environmental" class="col text-center category border-bottom m-2">@Localizer["Environmental"]</div>
                <div id="downloads" class="col text-center category border-bottom m-2">@Localizer["Downloads"]</div>
            </div>
            <nav class="nav nav-pills nav-justified">
                <button id="seeds" role="button" data-toggle="tab"
                        class="nav-item nav-link active tipo btn" data-value="1">
                    @Localizer["Seeds"]
                </button>
                <button id="harvest" role="button" data-toggle="tab"
                        class="nav-item nav-link tipo btn" data-value="2">
                    @Localizer["Harvest"]
                </button>
                <button id="supply" role="button" data-toggle="tab"
                        class="nav-item nav-link tipo btn" data-value="3">
                    @Localizer["Supply"]
                </button>
                <button id="production" role="button" data-toggle="tab"
                        class="nav-item nav-link tipo btn" data-value="4">
                    @Localizer["Production"]
                </button>
                <button id="temperature" role="button" data-toggle="tab"
                        class="nav-item nav-link tipo btn" data-value="5">
                    @Localizer["Temperature"]
                </button>
                <button id="salinity" role="button" data-toggle="tab"
                        class="nav-item nav-link tipo btn" data-value="6">
                    @Localizer["Salinity"]
                </button>
                <a class="nav-item nav-link btn btn-outline-danger" id="downloadModal" data-toggle="modal"
                   asp-action="Download" data-target="#modal-action">
                    <i class="fas fa-file-pdf fa-tw"></i>&nbsp;@Localizer["Digest"]
                </a>
                @*<a id="downloadReport" class="nav-item nav-link btn btn-outline-danger" onclick="exportReport();">
                        <i class="fas fa-file-pdf"></i> @Localizer["Digest"]
                    </a>*@
                <button class="nav-item nav-link btn btn-outline-success" role="button" onclick="exportExcel();">
                    <i class="fas fa-file-excel fa-tw alert-success"></i> @Localizer["Data"]
                </button>
            </nav>
        </div>
    </div>
    <div class="row">
        <div id="config-panel" class="col-auto p-0">
            <nav class="nav nav-pills flex-column" aria-orientation="vertical">
                <a id="dates" href="#config" role="tab" data-toggle="tab"
                   class="nav-link nav-item active" aria-expanded="true">
                    @Localizer["Dates"]
                </a>
                <a id="provinces" href="#Provincias" aria-expanded="false" role="tab" data-toggle="tab" class="prod nav-link nav-item" name="Provincias">@Localizer["Provinces"]</a>
                <a id="comunes" href="#Comunas" aria-expanded="false" role="tab" data-toggle="tab" class="nav-link nav-item" name="Comunas">@Localizer["Communes"]</a>
                <a id="months" href="#Meses" aria-expanded="false" role="tab" data-toggle="tab" class="nav-link nav-item" name="Meses">@Localizer["Months"]</a>
                <a id="table" href="#Tabla" aria-expanded="false" role="tab" data-toggle="tab" class="nav-link nav-item" name="Tabla">@Localizer["Table"]</a>
            </nav>
        </div>
        <div class="col-12 col-md">
            <div class="tab-content container-fluid h-100">
                <div id="config" class="tab-pane active form-horizontal" role="tabpanel">
                    <form id="dtconf" onchange="this.submit();">
                        <div class="form-group">
                            <label class="col-12 col-md-6 col-lg-4">@Localizer["Choose year"]</label>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar"></i>
                                        </span>
                                    </div>
                                    <select name="yr" id="year" title="Año" data-size="5"
                                            class="selectpicker form-control periodo"
                                            asp-items="ViewBag.Year"></select>
                                </div>
                            </div>
                        </div>
                        <div class="start form-group">
                            <label class="col-12 col-md-6 col-lg-4">@Localizer["Choose first month"]</label>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-minus"></i>
                                        </span>
                                    </div>
                                    <select name="start" id="start" title="Start" data-size="5"
                                            class="selectpicker form-control periodo"
                                            asp-items="ViewBag.Start"></select>
                                </div>
                            </div>
                        </div>
                        <div class="start form-group">
                            <label class="col-12 col-md-6 col-lg-4">@Localizer["Choose final month"]</label>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-plus"></i>
                                        </span>
                                    </div>
                                    <select name="end" id="end" title="End" data-size="5"
                                            class="selectpicker form-control periodo"
                                            asp-items="ViewBag.End"></select>
                                </div>
                            </div>
                        </div>
                        <select name="tp" id="tp"
                                class="selectpicker d-none"
                                asp-items="ViewBag.Tp"></select>
                    </form>
                </div>
                <partial name="_ChartSection" model='"Provincias"' />
                <partial name="_ChartSection" model='"Comunas"' />
                <partial name="_ChartSection" model='"Meses"' />
                <div id="Tabla" class="tab-pane" role="tabpanel">
                    <div class="row justify-content-end">
                        <div id="constrainer2">
                            <h1 class="category text-center">@Localizer["Table"] - <span class="tt-calc"></span> @Localizer["between"] <span class="tt-range"></span> @Localizer["of"] <span class="tt-year"></span></h1>
                            <h6 class="text-center">(<span class="tt-unit"></span>)</h6>
                            <table id="tbl" class="table table-condensed table-striped report-table">
                                <thead>
                                    <tr class="d-none">
                                        <th>@Localizer["Province"]</th>
                                        <th>@Localizer["Commune"]</th>
                                        <th><span class="tt"></span> <span class="tt-range"></span> <span class="tt-year"></span></th>
                                        <th><span class="tt"></span> <span class="tt-range"></span> <span class="tt-year-1"></span></th>
                                    </tr>
                                    <tr>
                                        <th class="border-0 p-0"></th>
                                        <th class="border-0 p-0"></th>
                                        <th colspan="2" class="text-center border-0 p-0 font-weight-normal"><span class="tt"></span></th>
                                    </tr>
                                    <tr>
                                        <th class="border-top-0">@Localizer["Province"]</th>
                                        <th class="border-top-0">@Localizer["Commune"]</th>
                                        <th class="text-right border-top-0" style="border-bottom-color: #f67d32"><span class="tt-range"></span> <span class="tt-year-1"></span></th>
                                        <th class="text-right border-top-0" style="border-bottom-color: #eeca1c"><span class="tt-range"></span> <span class="tt-year"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var comuna in (IQueryable<string[]>)ViewData["Comunas"])
                                    {
                                        <tr>
                                            <td class="text-left">@comuna[1]</td>
                                            <td class="text-left">@comuna[0]</td>
                                            <td class="dato divideColumnLeft yr-1 @comuna[0]"></td>
                                            <td class="dato yr @comuna[0]"></td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="text-right tt-calc font-weight-bold" colspan="2"></td>
                                        <td class="dato divideColumnLeft yr-1 total"></td>
                                        <td class="dato yr total"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 p-0">
            <div class="row p-4" style="max-height:50vh;overflow-y: scroll;">
                <text style="line-height:1;" class="text-justify">
                    <br />
                    <p class="text-right">
                        @Localizer["SOURCE"]: <a id="src" href="//www.sernapesca.cl/" target="_blank">
                            <img style="max-width:100px;"
                                 class="img-fluid" src="~/images/ico/sernapesca.svg" />
                        </a>
                    </p>
                    <h1 class="category">@Localizer["GLOSSARY"]</h1>
                    <br />
                    <span>
                        <text class="tt text-uppercase font-weight-bold"></text>:
                        <small>
                            <text class="td"></text>
                            <text>
                                @Localizer["The data of"] <span class='tt'></span>, @Localizer["corresponds to the"] <span class="prod">@Localizer["activity of"] <strong><span class='tt'></span> @Localizer["carried by"] <span class='ga'></span> <span class='gt'></span>s @Localizer["and"]</strong></span> <strong>@Localizer["informed to"] <span class="tt-src"></span>, @Localizer["during"] <span class='tt-range'></span> @Localizer["of the year"] <span class='tt-year'></span></strong>.
                            </text>
                        </small>
                    </span>
                    <hr />
                    <h1 class="display-4" style="font-size:1em">@Localizer["Disclaimer"]</h1>
                    <span class="tdisc" style="font-size:0.5em;"></span>
                </text>
            </div>
            <hr />
            <div class="row justify-content-around">
                <a class="col" href="//www.mejillondechile.cl/" target="_blank">
                    <img style="max-width:80px;"
                         class="img-fluid" src="~/images/ico/mejillondechile.min.png" />
                </a>
                <a class="col" href="//www.corfo.cl/" target="_blank">
                    <img style="max-width:80px;"
                         class="img-fluid" src="~/images/ico/corfo.svg" />
                </a>
                <a class="col" href="//www.gob.cl/" target="_blank">
                    <img style="max-width:80px;"
                         class="img-fluid" src="~/images/ico/gob.cl.min.png" />
                </a>
            </div>
        </div>
    </div>
</div>


<div aria-labelledby="modal-action-label" role="dialog" tabindex="-1" id="loading" class="modal fade" aria-hidden="true">
    <div class="modal-dialog text-center" role="document">
        <div class="lds-dual-ring"></div>
    </div>
</div>

@section Scripts{
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/xy.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/lang/es.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@0.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.core.min.js"></script>
    <partial name="_BoletinJs" />
}