@model UserViewModel
@using BiblioMit.Models

<form asp-action="AddUser" role="form">
    <partial name="_ModalHeader" model='new ModalHeader { Heading = "Añadir Usuario" }' />

    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AppRoleId" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <select asp-for="AppRoleId" asp-items="@Model.AppRoles" class="form-control">
                        <option>Por favor seleccione</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserClaims" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-9">
                    @foreach (var claim in Model.UserClaims)
                    {
                        <div class="col-lg-4">
                            <input type="checkbox" asp-for="@claim.Selected" />
                            <label asp-for="@claim.Selected">@claim.Text</label>
                            <input type="hidden" asp-for="@claim.Value" />
                            <input type="hidden" asp-for="@claim.Text" />
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="ConfirmPassword" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <partial name="_ModalFooter" model='new ModalFooter { }' />
</form>

<partial name="_ValidationScriptsPartial" />