<!DOCTYPE html>
<html lang="@Localizer["en"]">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="MSThemeCompatible" content="Yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=5" />
    <title>@ViewData["Title"] - BiblioMit</title>
    <base href="~/" />
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-46146363-2');
    </script>
    <script>
        window['GoogleAnalyticsObject'] = 'ga';
        window['ga'] = window['ga'] || function () {
            (window['ga'].q = window['ga'].q || []).push(arguments)
        };
    </script>
    <meta name="author" content="Epic Solutions" />
    <meta name="description" content="@Localizer["Library and digital repository for Mytilus chilensis Mussel species"]" />
    <open-graph-website site-name="BiblioMit"
                        title="@ViewData["Title"]"
                        main-image="@(new OpenGraphImage(
        new Uri($"{Context.Request.Scheme}://{Context.Request.Host}/android-chrome-512x512.png"),
        "image/png",
        1200,
        630))"
                        determiner="@OpenGraphDeterminer.Blank" />
    <script type="application/ld+json">
        @{
            var website = new WebSite()
            {
                AlternateName = Localizer["Library and digital repository for Mytilus chilensis Mussel species"].Value,
                Name = "BiblioMit - " + ViewData["Title"],
                Url = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")
            };
            var jsonLd = website.ToString();
        }
        @Html.Raw(jsonLd)
    </script>
    @Html.Raw(new TwitterCardSummaryLargeImage
{
    Title = "BiblioMit",
    Description = Localizer["Library and digital repository for Mytilus chilensis Mussel species"].Value,
    CreatorUsername = "@guille_arp",
    SiteUsername = "@guille_arp"
})
    <!-- Google Tag Manager -->
    @*<script src="~/js/google-ads.js"></script>*@
    <environment exclude="Development">
        <script>
            (function (e, t, n, i, s, a, c) {
                e[n] = e[n] || function () { (e[n].q = e[n].q || []).push(arguments) }
                    ; a = t.createElement(i); c = t.getElementsByTagName(i)[0]; a.async = true; a.src = s; c.parentNode.insertBefore(a, c)
            })(window, document, "galite", "script", "https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");
            galite('create', 'UA-46146363-2', 'auto');
            galite('send', 'pageview');
        </script>
        <!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46146363-2"></script>*@
        @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>*@
        @*<script src="~/js/google-ads.min.js" asp-append-version="true"></script>*@
        <meta name="google-site-verification" content="g-pGvrm_POLRtvTDGYJTTkKtecLY11qo0zOeNVMY2Eg" />
    </environment>
    <partial name="_Favicons" />

    <link rel="dns-prefetch" href="https://www.google.com">
    <link rel="preconnect" href="https://www.google.com" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.google.cl">
    <link rel="preconnect" href="https://www.google.cl" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.google.co.nz">
    <link rel="preconnect" href="https://www.google.co.nz" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://stats.g.doubleclick.net">
    <link rel="preconnect" href="https://stats.g.doubleclick.net" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://static.xx.fbcdn.net">
    <link rel="preconnect" href="https://static.xx.fbcdn.net" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.facebook.com">
    <link rel="preconnect" href="https://www.facebook.com" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://connect.facebook.net">
    <link rel="preconnect" href="https://connect.facebook.com" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />

    <partial name="_TagLibs" model='("TOP", new List<string> { "jquery", "mdb-ui-kit", "@fortawesome/fontawesome-free", "site", "modal-action", "modernizr-custom" })' />
    @this.WriteBlocks("TOPStyles")
    @this.WriteBlocks("Styles")
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    @*<noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7K9PRH"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>*@
    <!-- End Google Tag Manager (noscript) -->
    <header>
        @await Component.InvokeAsync("Nav")
        @RenderSection("NavBar", required: false)
        @RenderSection("Header", required: false)
    </header>
    <main role="main">
        <div class="body-content container-fluid">
            <partial name="_CookieConsentPartial" />
            <environment exclude="Development">
                <!-- Messenger Chat Plugin Code -->
                <div id="fb-root"></div>

                <!-- Your Chat Plugin code -->
                <div id="fb-customer-chat" class="fb-customerchat"
                     attribution=setup_tool
                     page_id="1350128371792150"
                     theme_color="#20cef5"
                     logged_in_greeting="@Localizer["Hi! How can we assist you?"]"
                     logged_out_greeting="@Localizer["Thank you for chatting with us"]"
                     greeting_dialog_display="fade"
                     greeting_dialog_delay="4">
                </div>
                <script>
                var chatbox = document.getElementById('fb-customer-chat');
                chatbox.setAttribute("page_id", "1350128371792150");
                chatbox.setAttribute("attribution", "page_inbox");
                window.fbAsyncInit = function () {
                    FB.init({
                        xfbml: true,
                        version: 'v11.0'
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/@Localizer["en_GB"]/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                </script>
            </environment>
            @RenderBody()
            <partial name="_Modal" model='new BootstrapModel { Id = "modal-action", AreaLabeledId = "modal-action-label", Size = ModalSize.Medium }' />
        </div>
    </main>
    <footer class="fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-center">
                    <a target="_blank" href="https://www.epicsolutions.cl" rel="noopener" class="text-dark">
                        <img src="~/epic_hor.svg" alt="epic solutions" class="img-responsive" height="15" asp-append-version="true" /> &copy; @DateTime.Now.Year - BiblioMit
                    </a>
                </div>
                <div class="col-6 text-center">
                    <a asp-controller="Home" asp-action="Analytics" class="text-dark">
                        <i class="fas fa-poll fa-fw"></i>&emsp;@Localizer["Total number of visits"]&emsp;<span id="counter"></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    @this.WriteBlocks("TOPScripts")
    @RenderSection("ScripTop", required: false)
    @this.WriteBlocks("Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
