@model LoginViewModel

<partial name="_SelectLanguagePartial" />
@*<vc:culture-switcher />*@
<li class="nav-item dropdown text-lg-center m-0">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="login" data-bs-toggle="dropdown"
       aria-expanded="false">
        @if (SignInManager.IsSignedIn(User))
        {
            <div>
                <i class="fas fa-user m-0"></i>
            </div>
            <span class="small">@Localizer["Account"]</span>
        }
        else
        {
            <div>
                <i class="fas fa-sign-in-alt m-0"></i>
            </div>
            <span class="small">@Localizer["Login"]</span>
        }
    </a>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end m-0" aria-labelledby="SignIn">
        <li>
            @if (SignInManager.IsSignedIn(User))
            {
                <form class="navbar-form nav navbar-nav" asp-area="Identity"
                      asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                      method="post" id="logoutForm">
                    <a class="dropdown-item" asp-controller="Manage"
                       asp-action="Index" title="Manage">
                        <i class="fas fa-cog fa-tw"></i>
                        <span class="small">@Localizer["Manage"]</span>
                    </a>
                    <button type="submit" class="dropdown-item">
                        <i class="fas fa-times fa-tw"></i>
                        <span class="small">@Localizer["Logout"]</span>
                    </button>
                </form>
            }
            else
            {
                <form class="px-4 py-3" asp-controller="Account"
                      asp-action="Login" asp-route-returnUrl="@Context.Request.Path"
                      method="post" autocomplete="on">
                    <div class="form-group">
                        <label asp-for="EmailLogin">@Localizer["Email"]</label>
                        <input asp-for="EmailLogin" class="form-control" autocomplete="email">
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordLogin">@Localizer["Password"]</label>
                        <input asp-for="PasswordLogin" class="form-control" autocomplete="current-password">
                    </div>
                    <div class="form-check">
                        <input asp-for="RememberMeLogin" class="form-check-input">
                        <label class="form-check-label" asp-for="RememberMeLogin">
                            @Localizer["Remember me"]
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">@Localizer["Sign in"]</button>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Account" asp-action="ForgotPassword" class="dropdown-item">@Localizer["Forgot password?"]</a>
                </form>
            }
        </li>
    </ul>
</li>
